<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rishilogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FasalDoctor"
        tools:targetApi="31">
        <activity
            android:name=".activity.RecentChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Comments"
            android:exported="false" />
        <activity
            android:name=".activity.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MLActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatOpenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatMainActivity"
            android:exported="false" />
        <activity
            android:name=".activitynotinuse.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitynotinuse.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />

        <service
            android:name=".utils.MyfbmessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Receiver" />
            </intent-filter>
        </service>
    </application>

</manifest>